@import "../../App.scss";

.o-userpanel {
  min-height: 100vh;
  background-color: $gris;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &-userinfo {
    z-index: 2;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-imgbg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    max-width: 100%;
  }

  &::before {
    z-index: 1;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    content: "";
    bottom: 0;
    right: 0;
    opacity: 0.9;
  }

  &-actionpanel {
    z-index: 2;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh;
  }
}
