<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/global.css" />
    <title>PetShop Grupo 7</title>
  </head>
  <body>
    <header>
      <p>PetShop Grupo 7</p>
      <nav>
        <a href="">Home</a>
        <a href="">Carrito</a>
        <a href="">Registro</a>
        <a href="">Ingreso</a>
      </nav>
    </header>
    <h1>PetShop Grupo 7</h1>
    <section>
      <div>Productos destacados</div>
    </section>
    <section>
      <h2>Alimentos</h2>
      <div>
        <div>placeholder</div>
      </div>
    </section>
    <section>
      <h2>Juguetes</h2>
      <div>
        <div>placeholder</div>
      </div>
    </section>
    <footer>
      <p>Información de Contacto</p>
      <div>
        <div>
          <p>correo</p>
          <p>github</p>
          <p>Linkedin</p>
        </div>
      </div>
    </footer>
  </body>
</html>
