<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/productDetail.css">

    <title>Detalle de Producto</title>
</head>
<body style="align-self: center;">
  <header>
    <div class="headerSuperior">
      <p>PetShop Grupo 7</p>
      <div class="buscador-nav">
        <div class='buscador'>
          <input name="buscador-header" placeholder="Qué quieres buscar hoy?" type="search" >
          <button type="button">Buscar</button>
        </div>
        <nav>
          <a href="/">Home</a>
          <a href="">Carrito</a>
          <a href="">Registro</a>
          <a href="">Ingreso</a>
        </nav>
      </div>
    
    </div>
    <div class="headerInferior">
      <p>Promociones</p>
      <p>Servicios</p>
      <p>Alimentos</p>
      <p>Snacks</p>
      <p>Cuidados</p>
      <p>Juguetes</p>
      <p>Farmacia</p>
    </div>
  </header> 
    <section class="mainSection"  >      
        <div class="mainFoto">
            <img src="/img/juguetePerro7.jpg" alt="Juguete" class="imgMain">
            <div class="imgVistas">
                <img src="/img/juguetePerro6.png" alt="Juguete" class="imgVista">
                <img src="/img/juguetePerro5.jpg" alt="Juguete" class="imgVista">
                <img src="/img/juguetePerro7.jpg" alt="Juguete" class="imgVista">
            </div>
        </div>

        <div class="mainArticle">
            <h2 class="tituloProducto">Juguete Perro</h2>
            <div>
                
            </div>
            <div>
                <p class="priceMain"> $60.000</p>
            </div>
            <div>
                <p class="disponible"> Producto disponible</p>
            </div>
            <div class="descripcionMain">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim fuga quasi inventore, ipsam eligendi repellendus ab, est corporis beatae totam dicta quod fugit doloribus rem? Maiores minus nesciunt esse ratione.
            </div>
            <div class="cajaColores" >
                <p class="color">Color/Tipo</p>

                <button type="button" class="circulo1" name="color1"></button>
                <button type="button" class="circulo2" name="color2"></button>
                <button type="button" class="circulo3" name="color2"></button>
              

            </div>

            <div class="anadirCaja">
                <button type="button" class="botonAnadirGrande">Añadir al carrito</button>
          
                <button type="button" class="menosUno">-</button>
        
                 <input type="number" name="cantidad" class="cantidad">
      
                <button type="button" class="masUno">+</button>
            </div>
            <div class="botonCarrito"></div>

        </div>
      </div>
    </section>
    <div>
    
        <h3 class="tituloProductos">Productos Similares</h3>
    <section class="productosSimilares">
            <article>
                <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
                <div class="sideArticle"> 
                    <h4 class="description"> Juguete Perro</h4>
                    <p class="price"> $30.000</p>
                    <p class="discount">10% off</p>
                    <button type="button" class="botonAnadir">Añadir al carrito</button>
                 </div>
           </article>
           <article>
            <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
            <div class="sideArticle"> 
                <h4 class="description"> Juguete Perro</h4>
                <p class="price"> $30.000</p>
                <p class="discount">10% off</p>
                <button type="button" class="botonAnadir">Añadir al carrito</button>
             </div>
       </article>
       <article>
            <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
            <div class="sideArticle"> 
                <h4 class="description"> Juguete Perro</h4>
                <p class="price"> $30.000</p>
                <p class="discount">10% off</p>
                <button type="button" class="botonAnadir">Añadir al carrito</button> </div>
        </article>
        <article>
            <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
            <div class="sideArticle"> 
                <h4 class="description"> Juguete Perro</h4>
                <p class="price"> $30.000</p>
                <p class="discount">10% off</p>
                <button type="button" class="botonAnadir">Añadir al carrito</button> </div>
        </article>
        <article>
            <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
            <div class="sideArticle"> 
                <h4 class="description"> Juguete Perro</h4>
                <p class="price"> $30.000</p>
                <p class="discount">10% off</p>
                <button type="button" class="botonAnadir">Añadir al carrito</button> </div>
        </article>
        <article>
          <img
            src="img/juguetePerro.jpg"
            alt="Perro de juguete"
            class="productImg"
          />
          <div class="mainArticle">
            <h4 class="description">Juguete Perro</h4>
            <p class="price">$30.000</p>
            <p class="discount">10% off</p>
            <button type="button">Añadir al carrito</button>
          </div>
        </article>
        <article>
          <img
            src="img/juguetePerro.jpg"
            alt="Perro de juguete"
            class="productImg"
          />
          <div class="mainArticle">
            <h4 class="description">Juguete Perro</h4>
            <p class="price">$30.000</p>
            <p class="discount">10% off</p>
            <button type="button">Añadir al carrito</button>
          </div>
        </article>
      </section>
    </div>
  </body>
  <footer>
    <p>Repositorio del proyecto:</p>
    <a href="https://github.com/apatinoc4/grupo_7_petShop/tree/feature/homePage">Click aquí</a>
    <!-- <div>
      <div>
        <p>correo</p>
        <p>github</p>
        <p>Linkedin</p>
      </div>
    </div> -->
    <p>&copy 2022 Digital House</p>
  </footer>
</html>
