<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle de Producto</title>
</head>
<body>
    <div>
    <section>
        <div>
        <img src="img/juguetePerro" alt="Perro de juguete" class="productImg">
        <h4 class="description"> Juguete Perro</h4>
        <p class="price"> $30.000</p>
        <p class="discount">10% off</p>

        <button type="button" ></button>
        </div>
    </section>
    </div>
</body>
<footer>

</footer>
</html>