<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>Detalle de Producto</title>
</head>
<body >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla a dolorum nisi enim modi eveniet corrupti at quisquam, voluptates quam debitis harum, accusamus, sequi officiis. Cupiditate qui expedita vel.
    <section>
        <div>
            <img src="/img/juguetePerro7.jpg" alt="Juguete" class="imgMain">
            <img src="/img/juguetePerro6.png" alt="Juguete" class="imgVistas">
            <img src="/img/juguetePerro5.jpg" alt="Juguete" class="imgVistas">
            <img src="/img/juguetePerro7.jpg" alt="Juguete" class="imgVistas">
        </div>
        <div>
            <h2 class="tituloProducto">Juguete Perro</h2>
            <div>
                <p class="priceMain"> $60.000</p>
                <p class="disponible"> Producto disponible</p>
            </div>


        </div>
    </section>
    <div>
    <h3>Productos Similares</h3>
    <section class="productosSimilares">
            <article>
                <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
                <div class="mainArticle"> 
                    <h4 class="description"> Juguete Perro</h4>
                    <p class="price"> $30.000</p>
                    <p class="discount">10% off</p>
                    <button type="button" >Añadir al carrito</button>
                 </div>
           </article>
           <article>
            <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
            <div class="mainArticle"> 
                <h4 class="description"> Juguete Perro</h4>
                <p class="price"> $30.000</p>
                <p class="discount">10% off</p>
                <button type="button" >Añadir al carrito</button>
             </div>
       </article>
       <article>
            <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
            <div class="mainArticle"> 
                <h4 class="description"> Juguete Perro</h4>
                <p class="price"> $30.000</p>
                <p class="discount">10% off</p>
                <button type="button" >Añadir al carrito</button>
            </div>
        </article>
        <article>
            <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
            <div class="mainArticle"> 
                <h4 class="description"> Juguete Perro</h4>
                <p class="price"> $30.000</p>
                <p class="discount">10% off</p>
                <button type="button" >Añadir al carrito</button>
            </div>
        </article>
        <article>
            <img src="img/juguetePerro.jpg" alt="Perro de juguete" class="productImg">
            <div class="mainArticle"> 
                <h4 class="description"> Juguete Perro</h4>
                <p class="price"> $30.000</p>
                <p class="discount">10% off</p>
                <button type="button" >Añadir al carrito</button>
            </div>
        </article>

    </section>
    
    </div>
</body>
<footer>

</footer>
</html>