@import url("./global.css");

.agregar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.agregar p {
  text-align: center;
}

.botones-agregar {
  display: flex;
  flex-direction: row;
}

.carta-producto {
  background-color: cyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 40px; */
  max-width: 15%;
  overflow: hidden;
}

.carta-producto .detalles-agregar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.carta-producto img {
  width: 100%;
}

.carta-producto .nombre-producto {
  color: var(--negro);
  font-weight: 800;
  text-align: center;
}

.index-wrapper {
  min-height: 100vh;
  padding: 0 1%;
}

#productos-destacados {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pd-slider {
  aspect-ratio: 1 / 0.2;
  background-color: var(--grisOscuro);
  color: white;
  display: flex;
  font-size: 50px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.slogan {
  text-align: center;
}
