@import url("./global.css");

.agregar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.agregar p {
  text-align: center;
}

.botones-agregar {
  display: flex;
  flex-direction: row;
}

.botones-agregar button {
  aspect-ratio: 1/1;
  background-color: var(--naranja2);
  border: 1px solid var(--naranja2);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  margin: 0 2px;
  width: 20px;
}

.cantidad-agregada {
  border: 1px solid var(--negro);
  margin: 2px 0;
  width: 25px;
}

.boton-comprar {
  align-items: center;
  background-color: var(--naranja2);
  cursor: pointer;
  display: flex;
  height: 20%;
  justify-content: center;
}

.boton-comprar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  font: inherit;
  font-size: 20px;
  font-weight: 800;
}

.carta-producto {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
  overflow: hidden;
  width: 230px;
  margin: 15px;
}

.carta-producto .imagen-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 5%;
  width: 100%;
}
.carta-producto .info-producto {
  height: 50%;
  padding: 5% 2%;
  width: 100%;
}

.carta-producto .detalles-agregar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
}

.carta-producto img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.detalles-agregar {
  margin-top: 10px;
}

.info-producto .nombre-producto {
  color: var(--negro);
  font-size: 18px;
  text-align: center;
}

.info-producto .precio-producto {
  color: var(--negro);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.index-wrapper {
  min-height: 100vh;
  padding: 0 1%;
  margin-bottom: 50px;
  max-width: 100vw;
  width: 100vw;
}

.mas-detalles {
  background-color: var(--grisOscuro);
  border: 1px solid var(--grisOscuro);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

#productos-destacados {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pd-slider {
  aspect-ratio: 1 / 0.2;
  background-color: var(--grisOscuro);
  color: white;
  display: flex;
  font-size: 50px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.slogan {
  text-align: center;
}

.wrapper-productos {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 769px) {
  .index-wrapper {
    padding: 0 5%;
  }
  .pd-slider {
    aspect-ratio: 1 / 1;
    width: 90%;
    font-size: 10vw;
  }
  .wrapper-productos {
    justify-content: center;
    width: 100%;
  }
}
