@import url("./global.css");

.agregar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.agregar p {
  text-align: center;
}

.botones-agregar {
  display: flex;
  flex-direction: row;
}

.botones-agregar button {
  aspect-ratio: 1/1;
  background-color: var(--naranja2);
  border: 1px solid var(--naranja2);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  margin: 0 2px;
  width: 20px;
}

.cantidad-agregada {
  border: 1px solid var(--negro);
  margin: 2px 0;
  width: 25px;
}

.boton-comprar {
  align-items: center;
  background-color: var(--naranja2);
  cursor: pointer;
  display: flex;
  height: 20%;
  justify-content: center;
}

.boton-comprar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  font: inherit;
  font-size: 20px;
  font-weight: 800;

  width: 100%;
  position: relative;
  transition: all .35s;
}
button.comprar span{
  position: relative;
  z-index: 2;
}

button.comprar:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:var(--magenta);
  transition: all .35s;
}

button.comprar:hover{
  color: #fff;
}

button.comprar:hover:after{
  width: 100%;
}

.carta-producto {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
  overflow: hidden;
  width: 230px;
  margin: 15px;
  transition: 0.5s;
}

.carta-producto .imagen-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 5%;
  width: 100%;
}
.carta-producto .info-producto {
  height: 50%;
  padding: 5% 2%;
  width: 100%;
}

.carta-producto .detalles-agregar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
}

.carta-producto img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.categorias{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.categorias .categoria {
  background-color: #fff;
  font-size: 15px;
  padding: 12px;
  text-align: center;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgb(68 68 68 / 30%);
  transition: 1s;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.categoria img{
 width: 200px;
 height: 200px;

}
.categoria a{
  color: #333;
  text-decoration: none;
}
.categoria .imgAlimentoTop,.categoria .imgJugueteTop{
  display: none;
  /* position: relative; */
}
.categoria:hover{
  /* filter: invert(100%) sepia(6%) saturate(643%) hue-rotate(161deg) brightness(121%) contrast(100%); */
  background-color: #ff6a00;
}
.categoria:hover .imgAlimentoTop,.categoria:hover .imgJugueteTop{
  display: flex;
}
.categoria:hover h3{
  color: white;
}
.categoria:hover .imgAlimentoBack,
  .categoria:hover .imgJugueteBack{
display: none;
}


.detalles-agregar {
  margin-top: 10px;
}

.info-producto .nombre-producto {
  color: var(--negro);
  font-size: 18px;
  text-align: center;
}

.info-producto .precio-producto {
  color: var(--negro);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.index-wrapper {
  /* box-sizing: border-box; */
  /* min-height: 100vh; */
  margin-bottom: 50px;
  /* max-width: 100vw; */
  /* padding: 0 1%;
  width: 100vw; */
}

#alimentos,
#juguetes {
  margin-left: 1%;
}

.mas-detalles {
  background-color: var(--magenta);
  border: 1px solid var(--magenta);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

#productos-destacados {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pd-slider {
  aspect-ratio: 1 / 0.2;
  background-color: var(--magenta);
  color: white;
  display: flex;
  font-size: 50px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.banner {
  top: 80px;
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  max-width: 100vw;
  /* background: linear-gradient(to right, #ee0979, #ff6a00); */
  padding: 2% 0 2% 10%;
  background: linear-gradient(-45deg, #ee0979, #ff6a00, #ee0979, #ff6a00);
  background-size: 400% 400%;
  animation: gradient 15s ease-out infinite;
}
/* .banner .slider img{
  height: 500px;
  width: 500px;
  position: relative;
  object-fit: contain;
} */
/* .slider div div{
  position: relative;
  height: 100%;
  float: left;
} */
.slider{
  transition: all 750ms ease;
  overflow: hidden;
  width: 100%;
  height: 500px;
}
.slide{
  width: 20%;
  transition: 2s;
}
.slide img{
width: 100%;
height: 500px;
object-fit: contain;
}
.slides{
  display: flex;
  width: 600%;
  height: 500px;

}
.slides input{
  display: none;
}
.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  left: 0;
}
.manual-btn{
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background-color: #ccc ;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.slogan button {
  margin-top: 20px;
  border: 2px solid white;
  background-color: transparent;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 18px;
  font-weight: 800;
  font-size: 28px;
  color: white;
}

.slogan button:hover {
  background-color: var(--naranja2);
  border: 1px solid var(--naranja2);
}

.slogan {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: white;
  text-align: center;
}

.slogan h1 {
   
   position: relative;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 8rem; 
    left: 250px;
    text-shadow: .03em .03em 0 rgb(255, 16, 32);
    z-index: 5;text-align: center;
    /* left: 250px; */
    }
.slogan h1:after {
      content: attr(data-shadow);
      position: relative;
      top: 0.6rem; left: -31rem;
      z-index:-1;
      text-shadow: none;
      background-image:
        linear-gradient(
          45deg,
          transparent 45%,
          hsla(48,20%,90%,1) 45%,
          hsla(48,20%,90%,1) 55%,
          transparent 0
          );
      background-size: .05em .05em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
      animation: shad-anim 15s linear infinite;
      }
  
  @keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
  }


.wrapper-productos {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 769px) {
  .banner {
    top: 100px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    align-items: center;
    font-size: 18px;
  }
  .banner img {
    height: 200px;

  }
  .categoria img{
    width: 100px;
    height: 100px;
  }
  .index-wrapper {
    padding: 0 5%;
  }
  .pd-slider {
    aspect-ratio: 1 / 1;
    width: 90%;
    font-size: 10vw;
  }
  .slogan {
    width: 60%;
  }
  .slogan h1 {
    font-size: 2em;
   position: relative;
   top: 0.6rem; left: 4.5rem;
    
  }
  .slogan h1:after {
    position: relative;
    top: 0.1rem; left:-8.8rem;
       
  }

  .slogan h3 {
    font-size: 10px;
  }
  .slogan button {
    display: none;
  }
  .wrapper-productos {
    justify-content: center;
    width: 100%;
  }
}

.carta-producto:hover{
  box-shadow:  0 0 0.5em 0 var(--naranja1);

}

/* Alertas */
.swal2-confirm{
  background-color: var(--naranja1) !important;
  border-color: var(--naranja2);
  border: yellow;
}