@import url("./global.css");
.barraInput {
  font-size: 1rem;
  color: gray;
  padding: 15px;
  border-radius: 5px;
  border: white solid 0.2px;
  margin-top: 5vh;
  width: 100%;
}
.recordarCheckbox {
  color: var(--negro);
  font-weight: 800;
  font-size: 18px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enviarLogin {
  background-color: rgb(255, 115, 0);
  text-align: center;
  border-radius: 5px;
  border: solid 0.2px white;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 5vh;
  text-decoration: none;
  padding: 10px;
  width: 100%;
}

.loginCaja,
.cajaRegister {
  /* display: flex; */
  justify-content: center;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.719);
  padding: 20px;
  border: 0.2px solid rgba(255, 255, 255, 0.726);
  border-radius: 20px;
  position: relative;
  top: 100px;
  margin-bottom: 100px;
}

.tituloLogin,
.tituloRegister {
  font-size: 1.5rem;
  font-weight: bold;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 0 1%;
  margin-bottom: 50px;
  max-width: 100vw;
  width: 100%;
}

@media (max-width: 769px) {
  .loginCaja,
  .cajaRegister {
    width: 80%;
  }
}

/* Alertas */
.swal2-confirm{
  background-color: var(--naranja1) !important;
  border-color: var(--naranja2);
  border: yellow;
}