* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.topHeader {
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;

  height: 10vh;
  background-color: #76d7c4;
  box-shadow: 2px 4px 22px -6px #000000;
  z-index: 10;
}
.bottomHeader {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  color: white;
  background-color: #439786;
  z-index: 5;
}

.logoCaja {
  /* width: 5vw;
  height: 5vw; */
  display: flex;

  flex-grow: 3;
}
.imgLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline-style: solid #ebebeb;
  background-color: rgb(223, 134, 0);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.searchBar {
  flex-grow: 8;
  justify-self: center;
}
.selectorPais {
  flex-grow: 2;
}
.ingresarCaja {
  flex-grow: 2;
}

/* BODY////////////////////////// */
/* section{
      padding-bottom: 5vh;
  } */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ebebeb;
}

/* MAIN///////////////////////////////// */
.imgMain {
  width: 30vw;
  outline-style: solid #ebebeb;
  border-radius: 15px;
  margin: auto;
  text-align: center;
}
.mainSection {
  display: flex;
  margin: auto;
  width: 80%;
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 4px 22px -6px #000000;
}

.mainFoto {
  padding-right: 1vw;
  padding-left: 1vw;
  margin: auto;
}

.mainArticle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}
.tituloProducto {
  width: 100%;
}
.priceMain {
  font-size: 1.8rem;
  align-self: start;
  justify-self: start;
}
.disponible {
  font-size: 0.8rem;
}
.descripcionMain {
  padding-bottom: 5vh;
}
.circulo1 {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(255, 189, 66);
  background-color: rgb(255, 189, 66);
  border-radius: 50%;
  margin-left: 1vw;
  margin-right: 1vw;
}
.circulo2 {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(0, 197, 204);
  background-color: rgb(0, 197, 204);
  border-radius: 50%;
}
.circulo3 {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(255, 1, 170);
  background-color: rgb(255, 1, 170);
  border-radius: 50%;
  margin-left: 1vw;
  margin-right: 1vw;
}
.cajaColores {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.imgVistas {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction:row; */
  width: 30vw;
}
.imgVista {
  margin: auto;
  width: 8vw;
  border: #ebebeb solid 5px;
  border-radius: 15px;
}

.anadirCaja {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.botonAnadirGrande {
  flex-grow: 6;
  border: rgb(76, 233, 181) solid 5px;
  border-radius: 15px;
  height: 30px;
  background-color: rgb(76, 233, 181);
}
.menosUno {
  flex-grow: 2;
  border: rgb(76, 233, 181) solid 5px;
  border-radius: 15px;
  background-color: rgb(76, 233, 181);
  margin-left: 1vw;
  margin-right: 1vw;
}
.cantidad {
  flex-grow: 1;
  width: 10%;
}
.masUno {
  flex-grow: 2;
  border: rgb(76, 233, 181) solid 5px;
  border-radius: 15px;
  background-color: rgb(76, 233, 181);
  margin-left: 1vw;
  margin-right: 1vw;
}
/* PRODUCTOS SIMILARES /////////////////////////////////// */
.tituloProductos {
  text-align: center;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.productosSimilares {
  display: flex;
  padding-top: 1vh;
  justify-content: space-around;
}
article {
  display: flex;
  width: 17vw;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin: 50px;

  border-radius: 15px;
  margin: auto;
  text-align: center;
  box-shadow: 2px 4px 22px -6px #000000;
}

.productImg {
  width: 10vw;
}

.botonAnadir {
  border: rgb(76, 233, 181) solid 5px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: rgb(76, 233, 181);
}
