@import url("./global.css");

/* MAIN///////////////////////////////// */

.imgMain {
  width: 30vw;
  outline-style: solid #ebebeb;
  border-radius: 15px;
  margin: auto;
  text-align: center;
}
.mainSection {
  display: flex;
  margin: auto;
  width: 80%;
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 4px 22px -6px #000000;
  flex-direction: column;
}

.mainFoto {
  padding-right: 1vw;
  padding-left: 1vw;
  margin: auto;
}

.mainArticle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.tituloProducto {
  width: 100%;
  font-size:25px;
}
.priceMain {
  display: flex;
  font-size: 30px;
  align-self: start;
  justify-self: center;
}
.disponible {
  font-size: 15px;
}
.descripcionMain {
  padding-bottom: 5vh;
  flex-wrap: wrap;
  font-size:  18px;
}
.color{
  font-size: 2vw;
}
.circulo1 {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(255, 189, 66);
  background-color: rgb(255, 189, 66);
  border-radius: 50%;
  margin-left: 1vw;
  margin-right: 1vw;
}
.circulo2 {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(0, 197, 204);
  background-color: rgb(0, 197, 204);
  border-radius: 50%;
}
.circulo3 {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(255, 1, 170);
  background-color: rgb(255, 1, 170);
  border-radius: 50%;
  margin-left: 1vw;
  margin-right: 1vw;
}
.cajaColores {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.imgVistas {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction:row; */
  width: 30vw;
}
.imgVista {
  margin: auto;
  width: 8vw;
  border: #ebebeb solid 5px;
  border-radius: 15px;
}

.anadirCaja {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.botonAnadirGrande {
  flex-grow: 6;
  color: white;
  border-radius: 15px;
  height: 30px;
  font-weight: 800;
  background-color: var(--naranja2);
  border: 1px solid var(--naranja2);
}
.menosUno, .masUno {
  flex-grow: 2;
  border-radius: 15px;
  background-color: var(--naranja2);
  border: 1px solid var(--naranja2);
  margin-left: 1vw;
  margin-right: 1vw;
  font-weight: 800;
  color: white;
}
.cantidad {
  flex-grow: 1;
  width: 10%;
}

/* PRODUCTOS SIMILARES /////////////////////////////////// */
.tituloProductos{
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}
.wrapper-productos {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.carta-producto {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
  overflow: hidden;
  width: 230px;
  margin: 15px;
}

.carta-producto .imagen-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 5%;
  width: 100%;
}
.carta-producto .info-producto {
  height: 50%;
  padding: 5% 2%;
  width: 100%;
}


.carta-producto .detalles-agregar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
}

.carta-producto img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.detalles-agregar {
  margin-top: 10px;
}

.info-producto .nombre-producto {
  color: var(--negro);
  font-size: 18px;
  text-align: center;
}

.info-producto .precio-producto {
  color: var(--negro);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.mas-detalles {
  background-color: var(--magenta);
  border: 1px solid var(--magenta);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 5px;
}
.agregar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.agregar p {
  text-align: center;
}

.botones-agregar {
  display: flex;
  flex-direction: row;
}

.botones-agregar button {
  aspect-ratio: 1/1;
  background-color: var(--naranja2);
  border: 1px solid var(--naranja2);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  margin: 0 2px;
  width: 20px;
}

.cantidad-agregada {
  border: 1px solid var(--negro);
  margin: 2px 0;
  width: 25px;
}

.boton-comprar {
  align-items: center;
  background-color: var(--naranja2);
  cursor: pointer;
  display: flex;
  height: 20%;
  justify-content: center;
}

.boton-comprar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  font: inherit;
  font-size: 20px;
  font-weight: 800;
}


/* LOGIN//////////////////////////////////////////////////} */

.barraInput {
  font-size: 1rem;
  color: gray;
  padding: 15px;
  border-radius: 5px;
  border: white solid 0.2px;
  margin-top: 5vh;
  width: 100%;
}

.enviarLogin {
  background-color: rgb(255, 115, 0);
  text-align: center;
  border-radius: 5px;
  border: solid 0.2px white;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 5vh;
  text-decoration: none;
  padding: 10px;
  width: 100%;
}

.loginCaja,
.cajaRegister {
  /* display: flex; */
  justify-content: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.719);
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border: 0.2px solid rgba(255, 255, 255, 0.726);
  border-radius: 20px;
}

.tituloLogin,
.tituloRegister {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 720px) {
  section .productosSimilares {
    flex-wrap: nowrap;
  }
  article {
    width: 17vw;
  }
  .cajaRegister {
    width: 40%;
  }
  .loginCaja {
    width: 40%;
  }
  .wrapper-productos{
    justify-content: start;
  }
  .tituloProducto{
    font-size: 35px;
  }
  .tituloProductos{
    padding-top: 20px;
    font-size: 2.5vw;
    text-align: start;
  }
  .descripcionMain{
    font-size: 2vw;
  }
  .mainSection{
    flex-direction: row;
  }
  .mainArticle{
    width: 100vw;
  }
  .priceMain {
    font-size: 3vw;
  }
  .disponible {
    font-size: 2vw;
  }

}

/* EFECTOS /////////////////////// */
.enviarLogin:hover {
  background-color: var(--grisOscuro);
  transition: 1s;
}
.back {
  background: linear-gradient(rgba(255, 115, 0, 0.726), transparent),
    /* linear-gradient(to top left, lime, transparent), */
      linear-gradient(to top right, rgba(0, 0, 255, 0.596), transparent);
  background-blend-mode: screen;
}
