@import "../../App.scss";
.a-productcard {
  .MuiAccordionSummary-name {
    p {
      font-family: "Righteous", serif !important;
    }
  }

  &-productimage {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 10px;
    // border-radius: 50%;
    // border: 1px solid red;

    img {
      max-width: 100%;
    }
  }
  &-index {
    font-family: "Righteous", serif;
    font-size: 25px;
  }
}
