<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/productCart.css" />
    <link rel="stylesheet" href="css/global.css" />
    <title>Carrito</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="carrito-wrapper">
      <h2 style="margin-top: 100px">Carrito de compras</h2>
      <div id="root"></div>
    </div>
    <div class="container">
      <!-- <article class="confirmacion-compra">
        <p class="precio-total">TOTAL: $350.000</p>
        <div class="botones-compra">
          <button onclick="window.location.href='/'">Seguir Comprando</button>
          <button>Finalizar compra</button>
        </div>
      </article> -->
    </div>
    <%- include('../partials/footer') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://kit.fontawesome.com/1998716f67.js"
      crossorigin="anonymous"
    ></script>
    <script src="./events/listaCarro.js"></script>
    <script src="./events/headerFijo.js"></script>
    <script src="./events/borrarStorage.js"></script>
  </body>
</html>
