<footer>
  <!-- <p>Repositorio del proyecto:</p>
  <a href="https://github.com/apatinoc4/grupo_7_petShop/tree/feature/homePage"
    >Click aquí</a
  > -->
  <div class="contenedorPerfiles">

    <div class="contenedorFooter">
      <img class="imgFooter" src="./img/assets/mazo.jpeg" alt="" srcset="" />
      <div>
        <h3 class="nombreFooter">Andrés Zapata Mazo</h3>
        <ul class="wrapper">
          <li class="icon linkedin" >
            <span class="tooltip">linkedIn</span>
            <span><a href="https://www.linkedin.com/in/andrezmazo/"><i class="fa-brands fa-linkedin-in"></i></a></span>
          </li>
          <li class="icon github">
            <span class="tooltip">Github</span>
            <span><i class="fa-brands fa-github"></i></span>
          </li>
          <li class="icon instagram">
            <span class="tooltip">Instagram</span>
            <span><i class="fa-brands fa-instagram"></i></i></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="contenedorFooter">
      <img class="imgFooter" src="./img/assets/patino.jpeg" alt="" srcset="" />
      <div>
        <h3 class="nombreFooter">Andrés Patiño</h3>
        <ul class="wrapper">
          <li class="icon linkedin" >
         <span class="tooltip">linkedIn</span>
         <span><a href="https://www.linkedin.com/in/andrespatino1993"><i class="fa-brands fa-linkedin-in"></i></a></span>
        </li>
        <li class="icon github">
          <span class="tooltip">Github</span>
          <span><i class="fa-brands fa-github"></i></span>
        </li>
        <li class="icon instagram">
          <span class="tooltip">Instagram</span>
          <span><i class="fa-brands fa-instagram"></i></i></span>
        </li>
      </ul>
    </div>
  </div>
</div>
  
  
  
  
  <p>&copy 2022 Digital House</p>
</footer>
