<footer>
  <p>Repositorio del proyecto:</p>
  <a href="https://github.com/apatinoc4/grupo_7_petShop/tree/feature/homePage"
    >Click aquí</a
  >
  <!-- <div>
      <div>
        <p>correo</p>
        <p>github</p>
        <p>Linkedin</p>
      </div>
    </div> -->
  <p>&copy 2022 Digital House</p>
</footer>
