<header>
  <div class="headerSuperior">
    <p>PetShop Grupo 7</p>
    <div class="buscador-nav">
      <div class="buscador">
        <input
          name="buscador-header"
          placeholder="Qué quieres buscar hoy?"
          type="search"
        />
        <button type="button">Buscar</button>
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/productCart">Carrito</a>
        <a href="/register">Registro</a>
        <a href="/login">Ingreso</a>
        <a href="/listaProductos">Inventario</a>
      </nav>
    </div>
  </div>
  <div class="headerInferior">
    <p>Promociones</p>
    <p>Servicios</p>
    <p>Alimentos</p>
    <p>Snacks</p>
    <p>Cuidados</p>
    <p>Juguetes</p>
    <p>Farmacia</p>
  </div>
</header>
