@import "../../App.scss";

.a-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;

  p {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 800;
  }
}
